[Unit]
Description=Setup user config on first boot
After=network-online.target
Wants=network-online.target
[Service]
Type=simple
ExecStart=/opt/gardenlinux/user-setup.sh
[Install]
WantedBy=multi-user.target
